<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597624233095-sb2ui09odavcnmpior8belm17c8l5lar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597624233095-sb2ui09odavcnmpior8belm17c8l5lar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>597624233095-1kk53plbblag3ippc7lq3riv5k1gshk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEl3lE_a_GRs10a-TFD8Vg10LG_rGZ58A</string>
	<key>GCM_SENDER_ID</key>
	<string>597624233095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ngmduc2012.com.baseApp</string>
	<key>PROJECT_ID</key>
	<string>civams-face</string>
	<key>STORAGE_BUCKET</key>
	<string>civams-face.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597624233095:ios:7324eaed8d34d037a06c22</string>
</dict>
</plist>